$color-4buttons: #08bb00;
$color-5buttons: #00dfd0;
$color-6buttons: #e04002;
$color-8buttons: #5100f6;

$color-respect: #f0b405;
$color-portable1: #00b4d4;
$color-portable2: #ff1e1e;
$color-trilogy: #7289ff;
$color-clazziquai: #737373; // actual color is #fffff
$color-blacksquare: #ec0043;
$color-vextension: #ff7e31;
$color-emotionals: #1ad10b;
$color-guiltygear: #d83e0e;
$color-cytus: #ee1538;
$color-deemo: #99e5d8;
$color-groovecoaster: #51eefe;
